<div class="profile">
    <form [formGroup]="profileForm">
        <label for="name">Name:</label>
        <input formControlName="name" type="text" id="name" name="name"><br>
      
        <label for="email">Email:</label>
        <input formControlName="email" type="email" id="email" name="email"><br>
      
        <label for="password">Password:</label>
        <input formControlName="password" type="password" id="password" name="password"><br>
      
        <label for="confirm-password">Confirm Password:</label>
        <input  formControlName="confirmpassword" type="password" id="confirm-password" name="confirm-password"><br>
      
        <button (click)="SubmitProfile()">Update Profile</button>
      </form>
</div>

  