<div class="doctors_cards">
  <div class="card" *ngFor="let doctor of doctors">
    <img class="img_fix" src="../../../../assets/img/1678752724930.jpg" alt="Image">
    <div class="card-content">
      <h3>{{ doctor.username }}</h3>
      <p>{{ doctor.email }}</p>
    </div>
    <a class="btn" (click)="showModal()">Book Appointment</a>
  </div>
</div>




<nz-modal [(nzVisible)]="isVisible" nzTitle="Book Appointment" (nzOnCancel)="handleCancel()" (nzOnOk)="SubitSlot()">
  <form nz-form [formGroup]="slotbooking">
    <nz-form-item>
      <nz-form-control >
        <ng-container *nzModalContent>
          <div class="form-row">
            <div class="form-group col-md-6 ">
              <nz-date-picker class="bookdate" formControlName="slot" format="mm/dd/yyyy"></nz-date-picker>
            </div>
            <div class="date_timemargin">
              <div class="time-picker">
                <div class="time-picker-buttons">
                  <button class="time-picker-button" *ngFor="let time of times" (click)="selectTime(time)"
                    [class.selected]="isSelected(time)">
                    {{ time }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </nz-form-control>
    </nz-form-item>  
    <button (click)="SubitSlot()">Book Slot</button>
  </form>
 
</nz-modal>