<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body class="Dash_back">

    <div class="cardscenter">
        <h2>Dashboard</h2>
        <div class="card1">
          <div class="card_text">
            <h3 class="name_text">Welcome {{ getname ? (getname.name | titlecase) : '0' }}</h3>
            <h3>Email</h3>
            <h3 class="email_text">{{ getname ? getname.email  : '0' }}</h3>
            <h3>Phone</h3>
            <h3 class="email_text">{{ getname ? getname.mobileNum  : '0' }}</h3>
            <!-- <h3>Phone</h3>
            <h3 class="email_text">{{ getname ? getname.mobileNum  : '0' }}</h3> -->
          </div>
        </div>
        <div class="card2" >
          <div class="card_text">
            <h3 class="name_appointment">Upcoming Appointments</h3>
            <table class="table_margin">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Doctor Name</th>
                  <th>Date</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let appointment of appointmenhis">
                  <td>{{ appointment.name }}</td>
                  <td>{{ appointment.doctor_id.username }}</td>
                  <td>{{ appointment.date | date:'MMM d, y'}}</td>
                  <td>{{ appointment.time }}</td>
                </tr>
                
              </tbody>
            </table>
            
          </div>
        </div>
    </div>
      

</body>
</html>

