

   <!DOCTYPE html>
   <html>
   <title>W3.CSS</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   
   <body class="Dash_back">
   
       <div class="cardscenter">
           <h2 style="color:aliceblue">Contact Us</h2>
           <div class="card1">
               <div class="form-wrapper">
                   <form class="prescription_form" [formGroup]="ContactForm">
                       <label for="username">Email</label>
                       <input type="text" placeholder="email" formControlName="email" id="username">
                       <label for="email">Phone</label>
                       <input type="email" placeholder="phone" formControlName="phone" id="email">
                       <label for="email">Name</label>
                       <input placeholder="name" formControlName="name" id="email">
                       <label for="message">Message</label>
                    <textarea id="message" name="message" formControlName="message" class="form-control"></textarea>
                   </form>
               </div>
               <div class="image-select-wrapper">
                   <div class="image-upload">
                    <!-- <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.087775044637!2d100.56110431459598!3d13.733260501023177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9994e6e576a1b4a6!2sSiam%20Paragon!5e0!3m2!1sen!2sth!4v1616504822549!5m2!1sen!2sth" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                      </div> -->
                      <div class="letter-image">
                        <div class="animated-mail">
                          <div class="back-fold"></div>
                          <div class="letter">
                            <div class="letter-border"></div>
                            <div class="letter-title"></div>
                            <div class="letter-context"></div>
                            <div class="letter-stamp">
                              <div class="letter-stamp-inner"></div>
                            </div>
                          </div>
                          <div class="top-fold"></div>
                          <div class="body"></div>
                          <div class="left-fold"></div>
                        </div>
                        <div class="shadow"></div>
                      </div>
                    </div>
               </div>
               <button (click)="Contact()" class="prescription_submit">Submit</button>
           </div>
       </div>
   </body>
   
   </html>


















