// .container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     max-width: 960px;
//     margin: 0 auto;
//   }
  
//   .card {
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
//     border-radius: 5px;
//   }
  
//   .card-body {
//     padding: 20px;
//   }
  
//   .form-group {
//     margin-bottom: 20px;
//   }
  
//   label {
//     font-weight: bold;
//     display: block;
//     margin-bottom: 5px;
//   }
  
//   input[type="text"],
//   input[type="email"],
//   textarea {
//     width: 100%;
//     padding: 10px;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//     font-size: 16px;
//     box-sizing: border-box;
//     margin-top: 5px;
//     margin-bottom: 15px;
//   }
  
//   textarea {
//     height: 150px;
//   }
  
//   .btn-primary {
//     background-color: #007bff;
//     color: #fff;
//     border: none;
//   }
  
//   .btn-primary:hover {
//     background-color: #0069d9;
//   }
  
//   .map {
//     position: relative;
//     overflow: hidden;
//     padding-bottom: 56.25%;
//     /* 16:9 aspect ratio for the map iframe */
//     margin-top: 20px;
//   }
  
//   .map iframe {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     border: none;
//   }
  
//   .row:before,
//   .row:after {
//     content: "";
//     display: table;
//     clear: both;
//   }
  
//   .column {
//     float: left;
//     width: 50%;
//     padding: 0 10px;
//     box-sizing: border-box;
//   }
  
//   @media screen and (max-width: 768px) {
//     .column {
//       width: 100%;
//       display: block;
//       margin-bottom: 20px;
//     }
//   }












html, body {
    width: 100%;
    height: 80%;
  }


.cardscenter{
    margin-left: 150px;
}
// .Dash_back{
//     background-color: rgba(65, 65, 65, 0.8);
//   }
.card_text{
    margin-top: 10px;
    margin-left: 15px;
}
.email_text{
    color: rgb(90, 89, 89);
}
.name_text{
    color: rgb(42, 55, 195);
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
//   .table_margin{
//     margin-right: 5px;
//   }
  
.prescription_form {
    background-color: #f5f5f5;
    // border-radius: 10px;
    // box-shadow: 0 0 10px #40c592;
    display: flex;
    flex-direction: column;
    padding: 20px;
    // max-width: 700px;
    // margin: auto;
    width:600px;
    margin-left:18px;
    margin-top:18px;
}

h3 {
    margin-top: 0;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    font-size: 16px;
}

.login-form-forgot {
    font-size: 14px;
    text-align: right;
    margin-bottom: 10px;
}

.prescription_submit {
    background-color: #dedfe0;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.prescription_submit:hover {
    background-color: #40c592;
}


.card1 {
    display: flex;
    justify-content: space-between;
    width: 91%;
    height: 500px;
    border-color: aqua;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  

  
  .image-select-wrapper {
    // border-radius: 10px;
    // box-shadow: 0 0 10px #40c592;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 20px;
    margin: 18px;
    height: 80%;
  }
  
  .image-upload {
    position: relative;
    width: 100%;
    height: 300px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .drop-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .drop-zone p {
    margin: 0;
    font-size: 16px;
  }
  
  .image-upload input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
   
  }  
  .prescription_afterselect{
    height: 296px;
    width: 410px;
  }
  .map{
    height: 135%;
    width: -webkit-fill-available;
  }
    textarea {
    height: 130px;
  }
  ///////////////////////Animation
  body {
    background: #323641;
    height: 670px;
  }
  
  .letter-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  
  .animated-mail {
    position: absolute;
    height: 150px;
    width: 200px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    
    .body {
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 100px 200px;
      border-color: transparent transparent #e95f55 transparent;
      z-index: 2;
    }
    
    .top-fold {
      position: absolute;
      top: 50px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 100px 0 100px;
      -webkit-transform-origin: 50% 0%;
      -webkit-transition: transform .4s .4s, z-index .2s .4s;
      -moz-transform-origin: 50% 0%;
      -moz-transition: transform .4s .4s, z-index .2s .4s;
      transform-origin: 50% 0%;
      transition: transform .4s .4s, z-index .2s .4s;
      border-color: #cf4a43 transparent transparent transparent;
      z-index: 2;
    }
    
    .back-fold {
      position: absolute;
      bottom: 0;
      width: 200px;
      height: 100px;
      background: #cf4a43;
      z-index: 0;
    }
    
    .left-fold {
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 0 50px 100px;
      border-color: transparent transparent transparent #e15349;
      z-index: 2;
    }
    
    .letter {
      left: 20px;
      bottom: 0px;
      position: absolute;
      width: 160px;
      height: 60px;
      background: white;
      z-index: 1;
      overflow: hidden;
      -webkit-transition: .4s .2s;
      -moz-transition: .4s .2s;
      transition: .4s .2s;
      
      .letter-border {
        height: 10px;
        width: 100%;
        background: repeating-linear-gradient(
          -45deg,
          #cb5a5e,
          #cb5a5e 8px,
          transparent 8px,
          transparent 18px
        );
      }
      
      .letter-title {
        margin-top: 10px;
        margin-left: 5px;
        height: 10px;
        width: 40%;
        background: #cb5a5e;
      }
      .letter-context {
        margin-top: 10px;
        margin-left: 5px;
        height: 10px;
        width: 20%;
        background: #cb5a5e;
      }
      
      .letter-stamp {
        margin-top: 30px;
        margin-left: 120px;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        background: #cb5a5e;
        opacity: 0.3;
      }
    }
  }
  
  .shadow {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 400px;
    height: 30px;
    transition: .4s;
    transform: translateX(-50%);
    -webkit-transition: .4s;
    -webkit-transform: translateX(-50%);
    -moz-transition: .4s;
    -moz-transform: translateX(-50%);
    
    border-radius: 100%;
    background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.0), rgba(0,0,0,0.0));
  }
  
    .letter-image:hover {
      .animated-mail {
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
      }
      
      .animated-mail .top-fold {
        transition: transform .4s, z-index .2s;
        transform: rotateX(180deg);
        -webkit-transition: transform .4s, z-index .2s;
        -webkit-transform: rotateX(180deg);
        -moz-transition: transform .4s, z-index .2s;
        -moz-transform: rotateX(180deg);
        z-index: 0;
      }
      
      .animated-mail .letter {
        height: 180px;
      }
      
      .shadow {
        width: 250px;
      }
    }