<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css"> -->
</head>
<body class="Dash_back">
    <nav>
        <input type="checkbox" id="nav-toggle">
        <div class="logo">Med<strong>Friend</strong></div>
       <ul class="links">
           <li><a href="/dashboard">Dashboard</a></li>
           <li><a href="">Doctor Appointment</a></li>
           <li><a href="">Upload Prescription</a></li>
           <li><a href="">Contact</a></li>
           <li><a  (click)="Logout()">Logout</a></li>
           <li><a  (click)="profile()">profile</a></li>
       </ul>
       <label for="nav-toggle" class="icon-burger">
           <div class="line"></div>
           <div class="line"></div>
           <div class="line"></div>
       </label>
    </nav>

    
</body>
</html>